@import '../../styles/settings.scss';

$transition: all 0.3s ease-in-out;

.collection-card {
  position: relative;
  width: 100%;
  height: 100%;
  overflow: hidden;
  border-radius: $size;
  &::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    opacity: 0;
    transition: $transition;
  }
  &:hover {
    &::after {
      opacity: 0.3;
    }
    img {
      width: 110%;
      height: 110%;
    }
  }
  img {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate3d(-50%, -50%, 0);
    object-fit: cover;
    transition: $transition;
  }
}
