@import '../../styles/settings.scss';

.filter-color {
  &.close {
    .filter-color__close-btn {
      transform: rotate(135deg);
    }
    .filter-color__content {
      display: none;
    }
  }
  &__head {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $size * 2;
    span {
      font-weight: 700;
    }
  }
  &__reset {
    color: $color-text-light;
    font-size: 14px;
    font-weight: 400 !important;
    margin-right: auto;
    margin-left: $size * 2;
    border-bottom: 1px dashed $color-text-light;
  }
  &__close-btn {
    cursor: pointer;
    width: $size;
    height: $size;
    border-top: 2px solid $color-text-light;
    border-right: 2px solid $color-text-light;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }
  &__colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, 32px);
    gap: $size;
  }
  &__color {
    width: $size * 4;
    height: $size * 4;
    border-radius: $size;
    outline: 1px solid $color-bg-card;
    position: relative;
    cursor: pointer;
    &.selected:after {
      $offset: -4px;
      content: '';
      display: block;
      position: absolute;
      top: $offset;
      left: $offset;
      right: $offset;
      bottom: $offset;
      border-radius: $size;
      border: 2px solid $color-text-light;
    }
  }
}
