@import '../../styles/settings.scss';

.product-card {
  padding: $size * 2;
  border-radius: $size;
  position: relative;
  background-color: #fff;
  &:hover {
    box-shadow: 0 0 20px rgb(36 36 36 / 10%);
    z-index: 1;
    .product-card__actions {
      opacity: 1;
      pointer-events: all;
    }
  }
  &__top {
  }
  &__bage {
    display: inline-block;
    background-color: #4dce3c;
    color: white;
    border-radius: $size;
    padding: 2px $size;
    text-transform: uppercase;
    font-weight: 700;
    margin-bottom: $size * 2;
  }
  &__img {
    width: 100%;
    border-radius: $size;
  }
  &__sale {
    display: inline-block;
    margin-top: $size * 2;
    background-color: $color-bg-card-light;
    font-weight: 600;
    border-radius: $size;
    padding: 2px $size;
  }
  &__bottom {
  }
  &__price {
    font-size: 18px;
    font-weight: 700;
    margin-top: $size;
    span {
      text-decoration: line-through;
      font-size: 0.8em;
      font-weight: 400;
      opacity: 0.5;
      margin-left: $size;
    }
  }
  &__params {
    color: $color-text-light;
    font-size: 14px;
    margin: $size 0;
  }
  &__rating {
    margin-bottom: $size - 4;
    display: flex;
    align-items: center;
    gap: $size - 4;
    i {
      color: $color-bg-icons;
      &.fill {
        color: $color-text;
      }
    }
    span {
      font-size: 14px;
      color: $color-text-light;
    }
  }
  &__shipping {
    font-size: 14px;
    span {
      color: $color-text-light;
    }
  }
  &__credit {
    margin: $size * 2 0px;
    display: inline-block;
    padding: $size $size * 3;
    background-color: $color-bg-icons;
    border-radius: $size;
  }
  &__actions {
    display: flex;
    align-items: center;
    gap: $size * 2;
    opacity: 0;
    pointer-events: none;
  }
  &__bay {
    cursor: pointer;
    background-color: $color-btn;
    border-radius: $size;
    padding: $size $size * 2;
    color: #fff;
    &:hover {
      background-color: $color-btn-light;
    }
  }
  &__favorite {
    cursor: pointer;
    font-size: 18px;
  }
}

.ic_heart {
}
