$color-bg-search: #f5f5f5;
$color-bg-card: #e7e7e7;
$color-bg-card-light: #f3f3f3;
$color-text-input: #212121;

$color-border-light: #ededed;

$color-dtn: #101010;
$color-dtn-light: #393939;

$color-text: #212121;
$color-text-light: #636162;

$size: 8px;
