@import '../../styles/settings.scss';

.filter {
  &.close {
    .filter__close-btn {
      transform: rotate(135deg);
    }
    .filter__content {
      display: none;
    }
  }
  &__head {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: $size * 2;
    span {
      font-weight: 700;
    }
  }
  &__close-btn {
    cursor: pointer;
    width: $size;
    height: $size;
    border-top: 2px solid $color-text-light;
    border-right: 2px solid $color-text-light;
    transform: rotate(-45deg);
    transition: all 0.3s ease-in-out;
  }
  &__colors {
    display: grid;
    grid-template-columns: repeat(auto-fill, 32px);
    gap: $size;
  }
  &__color {
    width: $size * 4;
    height: $size * 4;
    border-radius: $size;
    position: relative;
    &:hover:after {
      $offset: -4px;
      cursor: pointer;
      content: '';
      display: block;
      position: absolute;
      top: $offset;
      left: $offset;
      right: $offset;
      bottom: $offset;
      border-radius: $size;
      border: 2px solid $color-text-light;
    }
  }
  &__search {
    margin-bottom: $size;
  }
  &__more {
    cursor: pointer;
    font-size: 14px;
    color: $color-text-light;
    display: inline-block;
    border-bottom: 1px dashed $color-text-light;
  }
  &__list-content {
    max-height: 200px;
    overflow: auto;
  }
}
